<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header
      class="flex h-20 py-2 w-full px-4 justify-center bg-black text-white"
    >
      <div class="flex gap-4 w-full justify-between items-center">
        <div class="flex px-3 py-2 font-medium gap-6 items-center *:text-lg">
          <img src="/images/logo.png" alt="" class="w-24" />
          <div>
            <a href="/watch/dashboard" class="flex items-center hover-underline px-4"
              >Watch</a
            >
          </div>
          <div>
            <a href="/brand/dashboard" class="flex items-center hover-underline px-4"
              >Brand</a
            >
          </div>
          <div>
            <a href="/account" class="flex items-center hover-underline px-4"
              >Member</a
            >
          </div>
        </div>

        <div class="flex">

        <div class="flex gap-4 items-center">
          <!-- <i class="fas fa-user fa-2x text-primary"/> -->

          <a href="/logout"
            ><button
              class="py-2 px-3 text-black font-bold bg-gray-100 w-fit   hover:bg-gray-200"
            >
              Log out
            </button>
          </a>
        </div>
      </div>

    </header>

    <main class="section">
      <div class="container"><%- include(body) %></div>
    </main>
    <footer class="flex justify-center items-center p-4 bg-black text-white">
      &copy; 2024 Allrights reserved
    </footer>
  </body>
</html>
