<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">


    <div>
      <div>LOGO</div>
      <div>
        <div><a href="/home">Home</a></div>
        <div><a href="/watches">Watches</a></div>
        <div><a href="/member">Member</a></div>
      </div>
      
      <div>
        <div><i data-lucide="user-round-check" class="text-white"></i></div>
        <button>Log out</button>
      </div>
    </div>
  </nav>
</header>
