

<div class="">
 <div class="columns is-multiline is-variable is-4 ">
    <% [0,1,2,3,4,5,6,7,8].map((item) => { %>

    <div class="column is-one-third">
     <div class="card card-custom">
        <div class="card-image">
          <figure class="image is-128x128">
            <img
              src="https://bulma.io/assets/images/placeholders/256x256.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <div>Caisooo 01</div>
            <div>Casio</div>
          </div>
        </div>
     </div>
    </div>
    <% })%>
 </div>
</div>
