<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header
      class="flex h-20 py-2 w-full px-4 justify-center bg-black text-white"
    >
      <div class="flex gap-4 w-full justify-between items-center">
        <div class="flex px-3 py-2 font-medium gap-6 items-center *:text-lg">
          <img src="/images/logo.png" alt="" class="w-24" />
         <div>
            <a href="/watch" class="flex items-center hover-underline px-4"
              >Watch</a
            >
          </div>
          <% if ( user?._id )  { %>
            <div>
              <a href="/member/<%= user?._id %>" class="flex items-center hover-underline px-4"
                >My Profile</a
              >
            </div>
            <% }  %>
          </div>
           

        <div class="flex">
         <form method="POST" action="/watch/search">
            <input
              class="border-input w-96 bg-gray-50 text-black placeholder:text-muted-foreground focus-visible:ring-ring h-10 border bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"
              placeholder="Watch name"
              name="searchName"
            />
            <button type="submit"
              class="h-10 bg-gray-50 text-black font-black text-base px-3 py-2 cursor-pointer"
              >Search</
            >
          </div>
         </form>
        <div class="flex gap-4 items-center">
          <% if (user?._id ) { %>
          <a href="/logout"
            ><button
              class="py-2 px-3 text-black font-bold bg-gray-100 w-fit   hover:bg-gray-200"
            >
              Log out
            </button>
          </a>
          <% }else { %>
            <a href="/login"
            ><button
              class="py-2 px-3 text-black font-bold bg-gray-100 w-fit   hover:bg-gray-200"
            >
              Login
            </button>
          </a>
            <% } %>
        </div>
      </div>
    </header>

    <main class="section flex flex-col">
     <div> <%- include("./popup.ejs") %></div>
      <div class="container"><%- include(body) %></div>
    </main>
    <footer class="flex justify-center items-center p-4 bg-black text-white">
      &copy; 2024 Allrights reserved
    </footer>
  </body>
</html>
